/* 
Samuel Trevino
BioSite CSS File
CSD 340
*/

h1{
    font-size: 30px;
    font-weight: 400;
    text-align: center;    
}

h2{
    font-size: 25px;
    font-family: Oswald, Verdana, Arial, sans-serif;
    font-weight: 300;
    color: black;
}

body {
    font-family: Oswald, Verdana, Arial, sans-serif;
    background-color: #BDD9F2;
    margin: 0;
 }

 /* Header*/

header{
    background-color: #AEB9F2;
    color: black;
    text-align:center;
    padding-top: 5px;
}

#biosite_name{
    font-style: italic;
    font-family: Oswald, Verdana, Arial, sans-serif;
    font-weight: 600;
    font-size: 50px;
}

#navbar{
    background-color: #A7BDD9;
    overflow: hidden;
    text-align: center;
    border-color: black;
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-left: 3px solid;
    border-right: 3px solid;
    padding: 5px; 
}

#navbar a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover{
    background-color: grey;
    color: blue;
}

button{
    border: black solid;
    border-radius: 10%;
    text-align: center;
    background-color:white;
    margin: 10px;
    padding: 10px 15px;
    font-size: small;
    cursor: pointer;
    display:inline-block;
}

.container {
    background-image: url("BioSite_Pictures\beach_pic.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Body */

#page-title{
    color: black;
    margin-top: 2%;
    font-size: 50px;
    font-weight: 100;
    text-align: center;  
}

#image-gallery {
    display: grid;
    margin: 2%;
    padding-left: 7%;
    grid-template-columns: 900px 500px;
    grid-template-rows: auto auto;
}

.grid-item{
    max-width:none;
    column-gap: 5%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;

}

.grid-title{
    text-align: center;
    font-size: 25px;
    font-family: Oswald, Verdana, Arial, sans-serif;
    font-weight: 300;
    color: blue;
}

ol{
    text-align: left;
    color: black;
    font-size: 20px;
    font-weight: 200;
}

figure{
    text-align: right;
}

figcaption{
    font-size:15px;
    text-align: center;
}

img{
    max-width: 500px;
    height: 500px;
}

/* Footer*/

#to-top{
    text-decoration: none;
    color: black;
}

footer{
    text-align: center;
    background-color: #A7BDD9;
    border-color: black;
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-left: 3px solid;
    border-right: 3px solid;
    padding: 5px; 
}

#facebook {
    width: 50px;
    height: 50px;
    padding-right: 10px;
}

#instagram {
    width: 50px;
    height: 50px;
}

/* About me Page*/

#about-item-1 {

}

#about-item-2 {

}

#boat-pic{
    float: left;
    width: 400px;
    height: 400px;
    padding-right: 3%;
}

#bio {
    color: black;
    max-width:max-content;
    font-size: 40px;
    font-weight: 200;
    font-family: Oswald, Verdana, Arial, sans-serif;
    text-align: left;
}

#profile-picture {
    width: 700px;
    height: 700px;
}

/* Home Page */

.grid-container-1, .grid-container-2, .grid-container-3 {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    grid-column-gap: 0px;
    padding-left: 50px;
    padding-bottom: 20px;
    justify-content: center;
    align-content: center;
    grid-template-areas: 
        "header header"
        "sidebar content"
        "sidebar content"
}

.grid-item-1{
    align-items: center;
    justify-items: center;
    grid-template-columns: 725px;
    grid-area: header;
}

.grid-item-2{
    grid-area: sidebar;
    grid-template-columns: 400px;
}

.grid-item-3 {
    padding: 0px;
    grid-area: content;
}

.accomplishment-para {
    font-size: 20px;  
}

.card-title {
    font-weight: bold;
    font-size: 30px;
    color: red;
}
/* ----Delete this----

.grid-container-3 {
    display: grid;
    grid-template-columns: 300px;
    grid-column-gap: 0px;
    padding-right: 350px;
    padding-bottom: 20px;
    justify-content: center;
    align-content: center;
    grid-template-areas: 
        "header"
        "picture"
        "content"
}

.grid-item-4{
    align-items: center;
    justify-items: center;
    grid-template-columns: 725px;
    grid-area: header;
}

.grid-item-5 {
    grid-area: picture;
    padding-left: 140px;
    padding-right: 125px;
}

.grid-item-6 {
    grid-area: content;
    grid-template-columns: 600px;
    padding-left: 75px;
    padding-right: 50px;
}