/* 
Samuel Trevino
BioSite CSS File
CSD 340
*/

h1{
    font-size: 30px;
    font-weight: 400;
    text-align: center;    
}

h2{
    font-size: 25px;
    font-family: Oswald, Verdana, Arial, sans-serif;
    font-weight: 300;
    color: black;
}

body {
    background-image: url("BioSite_Pictures/beach2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: Oswald, Verdana, Arial, sans-serif;
    margin: 0;
 }

 /* Header*/

 .name{
    max-width: 600px;
    max-height: 100px;
 }
 
header{
    background-color: #1da6e6;
    size: 10px;
    color: black;
    text-align:center;
    padding-top: 5px;
}

#navbar{
    background-color: #17cedb;
    overflow: hidden;
    text-align: center;
    border-color: black;
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-left: 3px solid;
    border-right: 3px solid;
    padding: 5px; 
}

#navbar a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover{
    background-color: grey;
    color: blue;
}

button{
    border: black solid;
    border-radius: 10%;
    text-align: center;
    background-color:white;
    margin: 10px;
    padding: 10px 15px;
    font-size: small;
    cursor: pointer;
    display:inline-block;
}

.container {
    background-image: url("https://unsplash.com/photos/Ia2Kjtrx8y4");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Body */

#page-title{
    color: black;
    margin-top: 2%;
    font-size: 50px;
    font-weight: bold;
    text-align: center;  
    text-decoration: underline;
}

ol{
    text-align: left;
    color: black;
    font-size: 20px;
    font-weight: 200;
    font-weight: bold;
    line-height: 50px;
}

img{
    max-width: 960px;
    height: 960px;
}

/* Footer*/

#to-top{
    text-decoration: none;
    color: black;
}

footer{
    text-align: center;
    background-color: #17cedb;
    border-color: black;
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-left: 3px solid;
    border-right: 3px solid;
    padding: 5px; 
}

#facebook {
    width: 50px;
    height: 50px;
    padding-right: 10px;
}

#instagram {
    width: 50px;
    height: 50px;
}

/* About me Page*/

.about-container-1 {
    display: grid;
    grid-template-columns: 1200px;
    justify-content: center;
    align-content: center;

}

.about-me-item-1 {
    justify-content: center;
    align-content: center;
    padding-left: 120px;
    padding-bottom: 50px;
}

.about-me-item-2 {
    column-width: 1200px;
}

#bio {
    text-indent: 75px;
    color: black;
    max-width:max-content;
    font-size: 40px;
    font-weight: 300;
    font-family: Oswald, Verdana, Arial, sans-serif;
    text-align: left;
}

#profile-picture {
    width: 960px;
    height: 960px;
    border: 3px solid black;
}

.profile-cap {
    font-weight: bold;
    padding-right: 50px;
    font-size: 50px;
    text-align: center;
    color: black;
}

/* Home Page / Hobbies Page */

.grid-container-1, .grid-container-2, .grid-container-3 {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    grid-column-gap: 0px;
    padding-left: 50px;
    padding-bottom: 20px;
    justify-content: center;
    align-content: center;
    grid-template-areas: 
        "header header"
        "sidebar content"
        "sidebar content"
}

.grid-item-1{
    margin: 0 auto;
    align-items: center;
    justify-items: center;
    grid-template-columns: 725px;
    grid-area: header;
}

.grid-item-2{
    column-gap: 5%;
    margin: 0 auto;
    grid-area: sidebar;
    grid-template-columns: 400px;
}

.grid-item-3 {
    column-gap: 5%;
    margin: 0 auto;
    padding: 0px;
    grid-area: content;
}

.grid-item-4 {
    grid-area: content;
    padding-left: 60px;
    padding-top: 10px;
}

.paragraph {
    line-height: 50px;
    font-weight: bold;
    font-size: 20px;  
}

.card-title {
    font-weight: bold;
    font-size: 30px;
    color: black;
    text-decoration: underline;
}

.picture{
    max-width: 500px;
    max-height: 500px;
    border: 3px solid black;
}

.caption{
    font-weight: bold;
    font-size:15px;
    text-align: center;
}